html.dark-plz {
  filter: invert(1) hue-rotate(180deg);
  background-color: #fff;
}

html.dark-plz img,
html.dark-plz embed,
html.dark-plz iframe,
html.dark-plz video,
/* For https://ai.google.dev/gemini-api/docs */
html.dark-plz tab,
html.dark-plz tab a,
html.dark-plz pre,
html.dark-plz code,
/* for https://cloud.google.com/run/docs/samples */
html.dark-plz devsite-code,
html.dark-plz .devsite-tabs-dropdown,
html.dark-plz .devsite-tabs-dropdown-column {
  filter: invert(1) hue-rotate(180deg);
}

/* For https://emschwartz.me/async-rust-can-be-a-pleasure-to-work-with-without-send-sync-static/ */
html.dark-plz div.md-code-block,
html.dark-plz .highlight,
html.dark-plz p code,
html.dark-plz h1 code {
  filter: invert(1);
  background-color: #222222;
}

html.dark-plz pre {
  color: initial;
  background-color: #eeeeee;
}

html.dark-plz code {
  color: #eeeeee;
}

/* For Google Document, can break other site */
html.dark-plz nav,
html.dark-plz header,
html.dark-plz footer,
html.dark-plz section,
html.dark-plz article,
html.dark-plz main,
/* For script.google.com */
html.dark-plz c-wiz,
/* For calendar.google.com */
html.dark-plz .SGWAac {
  background-color: #fff;
}
