html.dark-plz {
  filter: invert(1) hue-rotate(180deg);
  background-color: #fff;
}

html.dark-plz img,
html.dark-plz embed,
html.dark-plz iframe,
html.dark-plz video,
/* For https://ai.google.dev/gemini-api/docs */
html.dark-plz tab,
html.dark-plz pre,
html.dark-plz code {
  filter: invert(1) hue-rotate(180deg);
}

/* For https://emschwartz.me/async-rust-can-be-a-pleasure-to-work-with-without-send-sync-static/ */
html.dark-plz div.md-code-block,
html.dark-plz .highlight {
  filter: invert(1);
  background-color: black;
}

/* For Google Document, can break other site */
html.dark-plz nav,
html.dark-plz header,
html.dark-plz footer,
html.dark-plz section,
html.dark-plz article,
html.dark-plz main,
/* For script.google.com */
html.dark-plz c-wiz,
/* For calendar.google.com */
html.dark-plz .SGWAac {
  background-color: #fff;
}
