body.dark-plz {
  filter: invert(1) hue-rotate(180deg);
  background-color: #fff;
}

body.dark-plz img,
body.dark-plz embed,
body.dark-plz iframe,
body.dark-plz video,
body.dark-plz div.md-code-block {
  filter: invert(1) hue-rotate(180deg);
}

/* For Google Document, can break other site */
body.dark-plz section,
body.dark-plz article,
body.dark-plz main {
  background-color: #fff;
}
